<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>__children</key>
	<array>
		<dict>
			<key>htmlURL</key>
			<string>http://www.myballard.com</string>
			<key>title</key>
			<string>Ballard</string>
			<key>xmlUrl</key>
			<string>http://www.myballard.com/feed/</string>
		</dict>
		<dict>
			<key>htmlURL</key>
			<string>http://daringfireball.net/</string>
			<key>title</key>
			<string>Daring Fireball</string>
			<key>xmlUrl</key>
			<string>http://daringfireball.net/index.xml</string>
		</dict>
		<dict>
			<key>htmlURL</key>
			<string>http://glassboard.com/blog</string>
			<key>title</key>
			<string>Glassboard</string>
			<key>xmlUrl</key>
			<string>http://glassboard.com/blog/feed/</string>
		</dict>
		<dict>
			<key>htmlURL</key>
			<string>http://identicalcousins.net/</string>
			<key>title</key>
			<string>Identical Cousins</string>
			<key>xmlUrl</key>
			<string>http://feeds.feedburner.com/IdenticalCousins</string>
		</dict>
		<dict>
			<key>htmlURL</key>
			<string>http://inessential.com/</string>
			<key>title</key>
			<string>inessential.com</string>
			<key>xmlUrl</key>
			<string>http://inessential.com/xml/rss.xml</string>
		</dict>
		<dict>
			<key>__children</key>
			<array>
				<dict>
					<key>htmlURL</key>
					<string>http://www.macalope.com</string>
					<key>title</key>
					<string>Macalope</string>
					<key>xmlUrl</key>
					<string>http://www.macalope.com/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.macstories.net</string>
					<key>title</key>
					<string>MacStories</string>
					<key>xmlUrl</key>
					<string>http://www.macstories.net/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.macworld.com</string>
					<key>title</key>
					<string>Macworld</string>
					<key>xmlUrl</key>
					<string>http://www.macworld.com/index.rss</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://netnewswireapp.com</string>
					<key>title</key>
					<string>NetNewsWire</string>
					<key>xmlUrl</key>
					<string>http://netnewswireapp.com/feed</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://flyingmeat.com/blog/</string>
					<key>title</key>
					<string>The Flying Meat Weblog</string>
					<key>xmlUrl</key>
					<string>http://flyingmeat.com/blog/atom.xml</string>
				</dict>
			</array>
			<key>title</key>
			<string>Macintosh</string>
		</dict>
		<dict>
			<key>__children</key>
			<array>
				<dict>
					<key>htmlURL</key>
					<string>http://borkwarellc.wordpress.com</string>
					<key>title</key>
					<string>Borkware Miniblog</string>
					<key>xmlUrl</key>
					<string>http://borkware.com/miniblog/rss/rss.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.cimgf.com</string>
					<key>title</key>
					<string>Cocoa Is My Girlfriend</string>
					<key>xmlUrl</key>
					<string>http://www.cimgf.com/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://ddeville.me</string>
					<key>title</key>
					<string>Damien DeVille</string>
					<key>xmlUrl</key>
					<string>http://ddeville.me/feed.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://indiestack.com</string>
					<key>title</key>
					<string>Indie Stack</string>
					<key>xmlUrl</key>
					<string>http://indiestack.com/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://nshipster.com</string>
					<key>title</key>
					<string>NSHipster</string>
					<key>xmlUrl</key>
					<string>http://nshipster.com/feed.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://oleb.net/blog/</string>
					<key>title</key>
					<string>Ole Begemann: iOS Development</string>
					<key>xmlUrl</key>
					<string>http://oleb.net/blog/atom.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://prog21.dadgum.com/</string>
					<key>title</key>
					<string>Programming in the 21st Century</string>
					<key>xmlUrl</key>
					<string>http://prog21.dadgum.com/atom.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.raywenderlich.com</string>
					<key>title</key>
					<string>Ray Wenderlich</string>
					<key>xmlUrl</key>
					<string>http://www.raywenderlich.com/feed</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://confusatory.org/</string>
					<key>title</key>
					<string>The Confusatory</string>
					<key>xmlUrl</key>
					<string>http://confusatory.org/rss</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.thejoyofcode.com/</string>
					<key>title</key>
					<string>the Joy of Code</string>
					<key>xmlUrl</key>
					<string>http://feeds.feedburner.com/thejoyofcode/</string>
				</dict>
			</array>
			<key>title</key>
			<string>Programming</string>
		</dict>
		<dict>
			<key>htmlURL</key>
			<string>http://ranchero.com/</string>
			<key>title</key>
			<string>ranchero.com</string>
			<key>xmlUrl</key>
			<string>http://ranchero.com/xml/rss.xml</string>
		</dict>
		<dict>
			<key>__children</key>
			<array>
				<dict>
					<key>htmlURL</key>
					<string>tag:blogger.com,1999:blog-388453516409934496</string>
					<key>title</key>
					<string>Adventures in Newfield</string>
					<key>xmlUrl</key>
					<string>http://adventuresinnewfield.blogspot.com/feeds/posts/default</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://alexking.org</string>
					<key>title</key>
					<string>alexking.org: Blog</string>
					<key>xmlUrl</key>
					<string>http://alexking.org/blog/feed</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.leancrew.com/all-this</string>
					<key>title</key>
					<string>And now it’s all this</string>
					<key>xmlUrl</key>
					<string>http://www.leancrew.com/all-this/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://dashes.com/anil/</string>
					<key>title</key>
					<string>Anil Dash</string>
					<key>xmlUrl</key>
					<string>http://feeds.dashes.com/AnilDash</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.appleoutsider.com</string>
					<key>title</key>
					<string>Apple Outsider</string>
					<key>xmlUrl</key>
					<string>http://www.appleoutsider.com/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://ashfurrow.com/</string>
					<key>title</key>
					<string>Ash Furrow</string>
					<key>xmlUrl</key>
					<string>http://ashfurrow.com/blog?format=rss</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.friday.com/bbum</string>
					<key>title</key>
					<string>bbum's weblog-o-mat</string>
					<key>xmlUrl</key>
					<string>http://www.friday.com/bbum/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://betterelevation.com</string>
					<key>title</key>
					<string>Better Elevation</string>
					<key>xmlUrl</key>
					<string>http://betterelevation.com/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://blackpixel.com/blog/</string>
					<key>title</key>
					<string>Black Pixel</string>
					<key>xmlUrl</key>
					<string>http://blackpixel.com/blog/atom.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://jury.me/blog/</string>
					<key>title</key>
					<string>Blog - Jury.me</string>
					<key>xmlUrl</key>
					<string>http://jury.me/blog?format=rss</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.mikeabdullah.net/</string>
					<key>title</key>
					<string>Blog | Mike Abdullah</string>
					<key>xmlUrl</key>
					<string>http://www.mikeabdullah.net/index.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>tag:blogger.com,1999:blog-11049281</string>
					<key>title</key>
					<string>Call Me Fishmeal.</string>
					<key>xmlUrl</key>
					<string>http://blog.wilshipley.com/rss.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://carpeaqua.com/</string>
					<key>title</key>
					<string>carpeaqua</string>
					<key>xmlUrl</key>
					<string>http://feeds.feedburner.com/carpeaqua</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://collindonnell.com</string>
					<key>title</key>
					<string>Collin Donnell (collin donnell » feed)</string>
					<key>xmlUrl</key>
					<string>http://collindonnell.com/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://corporationunknown.com/blog</string>
					<key>title</key>
					<string>Corporation Unknown</string>
					<key>xmlUrl</key>
					<string>http://corporationunknown.com/blog/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>tag:daltoncaldwell.com,2013:/feed</string>
					<key>title</key>
					<string>Dalton Caldwell</string>
					<key>xmlUrl</key>
					<string>http://daltoncaldwell.com/feed</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://bitsplitting.org</string>
					<key>title</key>
					<string>Daniel Jalkut</string>
					<key>xmlUrl</key>
					<string>http://bitsplitting.org/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://david-smith.org/</string>
					<key>title</key>
					<string>David Smith</string>
					<key>xmlUrl</key>
					<string>http://david-smith.org/atom.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://donmelton.com/rss.xml</string>
					<key>title</key>
					<string>Don Melton</string>
					<key>xmlUrl</key>
					<string>http://donmelton.com/rss.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://takingnotes.co/</string>
					<key>title</key>
					<string>Doug Russell</string>
					<key>xmlUrl</key>
					<string>http://www.getitdownonpaper.com/atom.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>tag:dcurt.is,2013:/feed</string>
					<key>title</key>
					<string>Dustin Curtis</string>
					<key>xmlUrl</key>
					<string>http://feeds.feedburner.com/dcurtis</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://speirs.org/blog/</string>
					<key>title</key>
					<string>Fraser Speirs</string>
					<key>xmlUrl</key>
					<string>http://speirs.org/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://furbo.org</string>
					<key>title</key>
					<string>furbo.org</string>
					<key>xmlUrl</key>
					<string>http://furbo.org/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://shapeof.com/</string>
					<key>title</key>
					<string>Gus's weblog</string>
					<key>xmlUrl</key>
					<string>http://gusmueller.com/blog/atom.xml</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Guy English</string>
					<key>xmlUrl</key>
					<string>http://kickingbear.com/blog/feed</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://halmueller.wordpress.com</string>
					<key>title</key>
					<string>Hal Mueller's Blog</string>
					<key>xmlUrl</key>
					<string>http://halmueller.wordpress.com/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://hypercritical.co/</string>
					<key>title</key>
					<string>Hypercritical</string>
					<key>xmlUrl</key>
					<string>http://hypercritical.co/feeds/main</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://developer.apple.com/news/</string>
					<key>title</key>
					<string>iPhone Developer News</string>
					<key>xmlUrl</key>
					<string>https://developer.apple.com/news/rss/news.rss</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.jakesavin.com/</string>
					<key>title</key>
					<string>JakeSavin.com</string>
					<key>xmlUrl</key>
					<string>http://www.jakesavin.com/xml/rss.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://stmts.net</string>
					<key>title</key>
					<string>Jesper</string>
					<key>xmlUrl</key>
					<string>http://stmts.net/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://verynicewebsite.net</string>
					<key>title</key>
					<string>John Moltz's Very Nice Web Site</string>
					<key>xmlUrl</key>
					<string>http://verynicewebsite.net/feed/atom/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://kickingbear.com/blog</string>
					<key>title</key>
					<string>Kickingbear Blog</string>
					<key>xmlUrl</key>
					<string>http://kickingbear.com/blog/feed</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.levelofindirection.com/journal/</string>
					<key>title</key>
					<string>level of indirection</string>
					<key>xmlUrl</key>
					<string>http://www.levelofindirection.com/journal/rss.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.manton.org/</string>
					<key>title</key>
					<string>Manton Reece</string>
					<key>xmlUrl</key>
					<string>http://manton.org/rss.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.marco.org/</string>
					<key>title</key>
					<string>Marco.org</string>
					<key>xmlUrl</key>
					<string>http://www.marco.org/rss</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://markbernstein.org/</string>
					<key>title</key>
					<string>Mark Bernstein</string>
					<key>xmlUrl</key>
					<string>http://www.markbernstein.org/news.rss</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://ma.tt</string>
					<key>title</key>
					<string>Matt Mullenweg</string>
					<key>xmlUrl</key>
					<string>http://ma.tt/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://mjtsai.com/blog</string>
					<key>title</key>
					<string>Michael Tsai</string>
					<key>xmlUrl</key>
					<string>http://mjtsai.com/blog/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.neglectedpotential.com</string>
					<key>title</key>
					<string>Neglected Potential</string>
					<key>xmlUrl</key>
					<string>http://www.neglectedpotential.com/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://mrgan.tumblr.com/</string>
					<key>title</key>
					<string>Neven Mrgan's tumbl</string>
					<key>xmlUrl</key>
					<string>http://mrgan.tumblr.com/rss</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://nickbradbury.com</string>
					<key>title</key>
					<string>Nick Bradbury</string>
					<key>xmlUrl</key>
					<string>http://nickbradbury.com/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.mikeash.com/pyblog/</string>
					<key>title</key>
					<string>NSBlog</string>
					<key>xmlUrl</key>
					<string>http://www.mikeash.com/pyblog/rss.py</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://nshipster.com</string>
					<key>title</key>
					<string>NSHipster</string>
					<key>xmlUrl</key>
					<string>http://feeds.feedburner.com/NSHipster</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://one37.net/</string>
					<key>title</key>
					<string>OneThirtySeven</string>
					<key>xmlUrl</key>
					<string>http://one37.net/blog?format=rss</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>https://www.tbray.org/ongoing/</string>
					<key>title</key>
					<string>ongoing</string>
					<key>xmlUrl</key>
					<string>http://www.tbray.org/ongoing/ongoing.atom</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://boredzo.org/blog</string>
					<key>title</key>
					<string>Peter Hosey</string>
					<key>xmlUrl</key>
					<string>http://feeds.feedburner.com/domainofthebored</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.randsinrepose.com/</string>
					<key>title</key>
					<string>Rands In Repose</string>
					<key>xmlUrl</key>
					<string>http://www.randsinrepose.com/index.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.red-sweater.com/blog</string>
					<key>title</key>
					<string>Red Sweater</string>
					<key>xmlUrl</key>
					<string>http://www.red-sweater.com/blog/feed</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://rentzsch.tumblr.com/</string>
					<key>title</key>
					<string>rentzsch.tumblr.com</string>
					<key>xmlUrl</key>
					<string>http://rentzsch.tumblr.com/rss</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://www.rhonabwy.com/wp</string>
					<key>title</key>
					<string>Rhonabwy</string>
					<key>xmlUrl</key>
					<string>http://www.rhonabwy.com/wp/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://ridiculousfish.com/blog/</string>
					<key>title</key>
					<string>ridiculous_fish</string>
					<key>xmlUrl</key>
					<string>http://pammon.webfactional.com/blog/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://log.scifihifi.com/</string>
					<key>title</key>
					<string>Sci-Fi Hi-Fi: Weblog</string>
					<key>xmlUrl</key>
					<string>http://log.scifihifi.com/rss</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://scripting.com/</string>
					<key>title</key>
					<string>Scripting News</string>
					<key>xmlUrl</key>
					<string>http://scripting.com/rss.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://blog.securemacprogramming.com</string>
					<key>title</key>
					<string>Secure Mac Programming</string>
					<key>xmlUrl</key>
					<string>http://blog.securemacprogramming.com/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://shawnblanc.net</string>
					<key>title</key>
					<string>Shawn Blanc</string>
					<key>xmlUrl</key>
					<string>http://shawnblanc.net/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://sheilasweblog.wordpress.com</string>
					<key>title</key>
					<string>Sheila's Weblog</string>
					<key>xmlUrl</key>
					<string>http://sheilasweblog.wordpress.com/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://stratechery.com</string>
					<key>title</key>
					<string>Stratēchery</string>
					<key>xmlUrl</key>
					<string>http://stratechery.com/feed/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://stuartkhall.com/</string>
					<key>title</key>
					<string>Stuart Hall</string>
					<key>xmlUrl</key>
					<string>http://feeds.feedburner.com/stuartkhall</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://nicemohawk.com//</string>
					<key>title</key>
					<string>The Fine Edge</string>
					<key>xmlUrl</key>
					<string>http://nicemohawk.com/atom.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://useyourloaf.com</string>
					<key>title</key>
					<string>Use Your Loaf</string>
					<key>xmlUrl</key>
					<string>http://useyourloaf.com/blog/rss.xml</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://waffle.wootest.net</string>
					<key>title</key>
					<string>Waffle</string>
					<key>xmlUrl</key>
					<string>http://waffle.wootest.net/feed/atom/</string>
				</dict>
				<dict>
					<key>htmlURL</key>
					<string>http://orangejuiceliberationfront.com</string>
					<key>title</key>
					<string>Zathras.de - Uli's most useless blog in the World</string>
					<key>xmlUrl</key>
					<string>http://www.zathras.de/angelweb/BlogRSSFeed.rss</string>
				</dict>
			</array>
			<key>title</key>
			<string>Weblogs</string>
		</dict>
	</array>
</dict>
</plist>
